header {
    background-color: #b5d334;
    height: 70px;
}
a:link{
    color: #a9112c
}
a:visited{
    color: #a9112c;
}
a:active{
    color: #a9112c;
}
a{
    letter-spacing:1px
}
a{
    font-size: 100%
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #ed1b34
}
.links{
    float: left;
    width: 23%;
}
.kalender{
    float: left;
    width: 23%;
}
.kontakte{
    float: left;
    width: 23%;
}
.name{
    float: left;
    width: 23%;;
}
.rechts{
    float: right;
}