.bild{
    float: left;
    width: 40%
}

.text{
    float: left;


}

.kontakt{
    clear: both;
} 


#bild1{
    border-radius: 100px;
    padding: 2px; 
    width: 100px;
    height: 100px; 
}

#bild2{
    border-radius: 100px;
    padding: 2px; 
    width: 100px;
    height: 100px; 
}
#bild3{
    border-radius: 100px;
    padding: 2px; 
    width: 100px;
    height: 100px; 
}

#bild4{
    border-radius: 100px;
    padding: 2px; 
    width: 100px;
    height: 100px; 
}

#bild5{
    border-radius: 100px;
    padding: 2px; 
    width: 100px;
    height: 100px; 
} 

