.bild{
    float: left;
    width: 10%

}

.text{
    float: left;
    margin-top: 3%;
}

.kontakt{
    clear: both;
} 

.kontaktbild{
    border-radius: 100px;
    padding: 4px; 
    width: 100px;
    height: 100px; 
}
summary{
    color: #005d56;
}
p{
    color: #005d56;
}