.bild{
    float: left;
    width: 20%

}

.text{
    float: left;
    margin-top: 3%;
    font-family: Arial;
}

.kontakt{
    clear: both;
} 

.kontaktbild{
    border-radius: 100px;
    padding: 30px; 
    width: 100px;
    height: 100px; 
}
summary{
    color: #005d56;
    font-size: 20px;
    font-weight: bold;
}
p{
    color: #005d56;
    font-size: 16px;
}