header {
    background-color: #b5d334;
    height: 70px;
}
a:link{
    color: #a9112c
}
a:visited{
    color: #a9112c;
}
a:active{
    color: #a9112c;
}
a{
    letter-spacing:1px
}
a{
    font-size: 100%
}
a:link{
    text-decoration: none;
}
a:hover{
    color: #ed1b34
}

.links{
    float: left;
    width: 23%;
}
.kalender{
    margin-left: 3%;
    margin-top: 2%;
    float: left;
    width: 20%;
}
.kontakte{
    float: left;
    margin-top: 2%;
    width: 20%;
}
.name{
    margin-right: -5%;
    margin-top: 2%;
    float: left;
    width: 20%;
}